* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
}
.active {
  color: red;
}
.btn {
  height: 80px;
  width: auto;
  border-radius: 10px; 
  font-size: 42px;
  line-height: 80px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  background: #cc001f;
  border-bottom: 7px solid #ab0f15;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.onclick {
  opacity: 0.5;
}
/* =====================
      HEADER
====================== */
header {

}
header .objectifs {
  float: right;
  margin: 20px 20px 0 0;
  padding: 0 20px;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
/* =====================
      POPUP
====================== */
.popup {
  display: none;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background: seagreen;
  z-index: 999;
}
.popup-overlay {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.5);
  z-index: 888;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.popup.open {
  display: block;
}
.popup.open + .popup-overlay{
  display: block;
}
.popup .close {
  position: absolute;
  top: -20px;
  right: -20px;
  display: block;
  background: indianred;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 10;
}
.popup .close:after, .popup .close:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 18px;
  height: 30px;
  width: 4px;
  background: white;
}
.popup .close:after {
  -webkit-transform: rotate(135deg);
  -moz-transform:    rotate(135deg);
  -ms-transform:     rotate(135deg);
  -o-transform:      rotate(135deg);
  transform:         rotate(135deg);
}
.popup .close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

/* =====================
      FOOTER
====================== */
footer {
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 100%;
}
footer .lang {
  position: absolute;
  bottom: 0;
  left: 50px;
}
footer .lang  span{
  display: none;
  vertical-align: bottom;
  width: 74px;
  height: 64px;
  color: white;
  line-height: 64px;
  text-indent: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Zheldor";
  background-image: url('./../assets/images/lang_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
footer .lang span:focus {
  outline: none;
}
footer .lang span.active {
  width: 104px;
  height: 90px;
  line-height: 90px;
  text-indent: 20px;
  font-size: 39px;
  display: inline-block;
}
footer .logos {
  float: right;
}