* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  font-family: "Zheldor";
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
}
.active {
  color: #cc0020;
}
.btn {
  height: 70px;
  width: auto;
  border-radius: 10px; 
  font-size: 36px;
  line-height: 65px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 0 67px;
  background: #cc001f;
  border-bottom: 7px solid #ab0f15;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.onclick {
  opacity: 0.5;
}
/* =====================
      VIDEOJS
====================== */
.video-js {
  background-color: #ab0e15;
}
.vjs-poster {
  background-size: auto;
}
.vjs-default-skin .vjs-control-bar {
  background: #ab0e15;
}
.vjs-default-skin .vjs-big-play-button {
  display: none;
}
.vjs-default-skin .vjs-slider {
  background: none;
}
.vjs-default-skin .vjs-progress-control {
  font-size: 0.9em;
}
.vjs-default-skin .vjs-play-progress {
  background: white;
}
.vjs-default-skin .vjs-load-progress {
  background: #ab0e15;
  opacity: 0.5;
}
.vjs-default-skin .vjs-volume-level {
  background: white;
}
.vjs-default-skin .vjs-volume-bar {
  background: #c90422;
}
.vjs-default-skin .vjs-fullscreen-control, .vjs-default-skin .vjs-mute-control, .vjs-default-skin .vjs-volume-control {
  display: none;
}

.vjs-default-skin .vjs-play-control{
  top: 2px;
}
.vjs-default-skin .vjs-current-time, .vjs-time-divider, .vjs-default-skin .vjs-duration {
  font-size: 1.5em;
  line-height: 2.2em;
}
.vjs-default-skin .vjs-control {
  width: 6em;
  color: white;
}
.vjs-default-skin .vjs-progress-control {
  width: auto;
}
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  visibility: visible !important;
  opacity: 1 !important;
  transition-duration: 0s!important;
}
/* =====================
      HEADER
====================== */
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
header .objectifs {
  float: right;
  margin: 10px 10px 0 0;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
/* =====================
      MAP
====================== */
main {
  height: 100%;
  width: 100%;
}

.map-holder {
  display: block;
  height: 710px;
  width: 1265px;
  /*background-image: url('./../assets/images/map.png');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  position: relative;
  top: 280px;
  left: 70px;
}

.map-holder p {
  color: #cc0020;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  display: inline-block;
  position: absolute;
}
.map-holder p:after {
  content: '';
  height: 35px;
  width: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('./../assets/images/after_text.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.map-holder #parking {
  bottom: 157px;
  left: -250px;
}
.map-holder #parking:after {
  bottom: 7px;
  right: -66px;
}
.map-holder #conso {
  height: 100px;
  width: 332px;
  top: 310px;
  left: -323px;
}
.map-holder #conso:after {
  right: -15px;
}
.map-holder #rayon {
  top: 41px;
  left: -82px;
}
.map-holder #rayon:after {
  top: 10px;
  right: -68px;
}
.map-holder #offre {
  height: 90px;
  width: 293px;
  top: -110px;
  left: 285px;
}
.map-holder #offre:after {
  bottom: -10px;
  right: -32px;
}
.map-holder #allee {
  height: 90px;
  width: 207px;
  top: -27px;
  right: 119px;
}
.map-holder #allee:after {
  bottom: -8px;
  right: -65px;
}
/* =====================
      POPUP
====================== */
.popup {
  display: none;
  height: 733px;
  width: 1293px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; right: 0;
  margin: auto;
  z-index: 999;
  border: 5px solid #ab0e15;
  border-radius: 10px;
}
.popup-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 888;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.popup.open {
  display: block;
}
.popup.open + .popup-overlay{
  display: block;
}
.popup .close {
  position: absolute;
  top: -72px;
  right: -140px;
  display: block;
  height: 119px;
  width: 171px;
  cursor: pointer;
  z-index: 10;
  background-image: url('./../assets/images/popup_close_sprite.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
.popup .close.onclick {
  opacity: 1;
  background-position: 0% 0%;
}

/* =====================
      FOOTER
====================== */
footer {
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 100%;
}
footer .lang {
  position: absolute;
  bottom: 0;
  left: 50px;
}
footer .lang  span{
  display: none;
  vertical-align: bottom;
  width: 74px;
  height: 64px;
  color: white;
  line-height: 64px;
  text-indent: 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Zheldor";
  background-image: url('./../assets/images/lang_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
footer .lang span:focus {
  outline: none;
}
footer .lang span.active {
  width: 104px;
  height: 90px;
  line-height: 90px;
  text-indent: 20px;
  font-size: 39px;
  display: inline-block;
}
footer .logos {
  margin-right: 30px;
  float: right;
}