html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.container {
  height: 100%;
  width: 100%;
}
.active {
  color: red;
}
.btn {
  height: 80px;
  width: auto;
  border-radius: 10px; 
  font-size: 42px;
  line-height: 80px;
  color: white;
  text-transform: uppercase;
}
/* =====================
      HEADER
====================== */
header {
}
header .objectifs {
  float: right;
}

/* =====================
      FOOTER
====================== */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .lang {
  position: absolute;
  bottom: 0;
  left: 50px;
}
footer .lang  span{
  display: inline-block;
  vertical-align: bottom;
  width: 74px;
  height: 64px;
  color: white;
  line-height: 64px;
  text-indent: 15px;
  text-transform: uppercase;
  background-image: url('/assets/images/lang_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
footer .lang span.active {
  width: 104px;
  height: 90px;
  line-height: 90px;
  text-indent: 25px;
}
footer .logos {
  float: right;
}